:root {
  --font-family-heading: 'Arial, sans-serif';
  --primary-color: #10B981;
  --gray-text-color: #4B5563;
  --primary-button-bg-color: #10B981;
  --primary-button-text-color: #ffffff;
  --button-rounded-radius: 0.5rem;
}