@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family-heading: "Your-Heading-Font", sans-serif;
  --primary-color: #10B981;
  --gray-text-color: #6B7280;
  --button-rounded-radius: 0.5rem;
  --primary-button-bg-color: #10B981;
  --primary-button-text-color: #ffffff;
}